@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap');




@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins', 'sans-serif';
}

.slick-prev,
.slick-next {
  z-index: 10;
}

.slick-prev:before,
.slick-next:before {
  color: #000 !important;
  font-size: 24px;
  opacity: 1 !important;
}
